DATABASE_URL="postgresql://postgres:123@localhost:5432/TravelLoop"
JWT_SECRET=secret
REDIS_URL=redis://localhost:6379
GEODB_API_KEY=your_rapidapi_key_here
OPENTRIPMAP_API_KEY=your_opentripmap_key_here